<h1 class="text-center">Instagram search</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form ng-submit="searchTag()">
			<div class="form-group">
			<label for="searchTag">#tag</label>
				<input type="text" ng-model="tag" class="form-control" id="searchTag">
			</div>
			<div class="form-group">
				<input type="submit" class="form-control btn btn-danger">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-3 thumbnail" ng-repeat="photo in photos">
		<p>{{photo.user.username}}</p>
		<img ng-src={{photo.images.standard_resolution.url}}>
		<p>
		<span>
			<ng-pluralize count="photo.likes.count" 
				when="{'0': 'No likes', 'one': '{} like', 'other': '{} likes'}">
			</ng-pluralize>
		</span>
		<span>
			<a href="#" ng-click="savePhoto(photo)">Like</a>
		</span>

		</p>
	</div>
</div>